# =====================
# Models
# =====================
*.h5
*.hdf5
*.pb
*.pt
*.pth
*.ckpt
*.joblib
*.pkl
*.sav
*.onnx
*.tflite

# Logs & Checkpoints
logs/
*.log
checkpoints/
*.ckpt.*
events.out.tfevents.*

# =====================
# Datasets
# =====================
data/
dataset/
datasets/
images/
*.npy
*.npz
*.csv
*.tsv
*.tmp
*.cache/

# =====================
# Notebooks
# =====================
.ipynb_checkpoints/

# =====================
# Python Cache
# =====================
__pycache__/
*.pyc
*.pyo
*.pyd

# =====================
# Environments
# =====================
.env
.venv/
env/
venv/

# =====================
# OS Files
# =====================
.DS_Store
Thumbs.db
